* {
  margin: 0;
  padding: 0;
}

header {
  background-color: rgb(17, 208, 147);
}

h1,
h2 {
  padding: 10px;
}

.icons {
  background-color: rgb(253, 187, 5);
  display: flex;
  gap: 20px;
  padding: 20px;
}

article {
  background-color: rgb(17, 208, 147);
  padding: 30px;
  margin: 10px;
  outline: 2px black;
  outline-style: dashed;
}

aside {
  float: right;
  padding: 20px;
  background-color: white;
  outline: 1px dashed;
}

article img {
  width: 100px;
  height: 100px;
  float: left;
  padding: 10px;
}

footer {
  background-color: rgb(253, 187, 5);
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
