* {
  margin: 0;
  padding: 0;
  font-family: "Barlow", sans-serif;
  font-weight: 300;
  font-style: normal;
}

header {
  padding: 25px;
  background-color: rgb(30, 3, 93);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#click {
  color: aliceblue;
}

.options {
  color: aliceblue;
}

main {
  margin: 20px;
}

#firstOne {
  font-family: "Barlow", sans-serif;
  font-weight: 600;
  color: rgb(30, 3, 93);
  display: flex;
  align-items: center;
  justify-content: center;
}

.images {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

#img1 {
  width: 45%;
}

#img2 {
  width: 45%;
}

p {
  width: 90%;
}

.foot {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

footer {
  background-color: rgb(30, 3, 93);
  padding: 20px;
}

.foot {
  color: aliceblue;
}
